
h1 {
    border: 2px solid rebeccapurple;
  padding: .5em;
  text-align: center;
  border-radius: 20px 20px 20px;
  margin: 0 25% 0 25%;
}

h2 {
    border: 2px solid rebeccapurple;
  padding: .5em;
  text-align: center;
  border-radius: 20px 20px 20px;
  margin: 0 25% 0 25%;
}

h3 {
    border: 2px solid rgb(47, 43, 51);
  padding: .5em;
  text-align: center;
  border-radius: 20px 20px 20px;
  margin: 0 25% 0 25%;
}